* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.parent {
	background-color: navy;
	padding: 50px;

  width: 80%;
  margin: 0 auto;

  /* overflow: hidden; */
}

.child {
	background-color: aqua;
	height: 250px;

	/* relative to parent html element */
  width: 50%;
}
